<!--Home Start Div-->
<section>
  <div id="idHomeSection">
    <div class="container text-center vertical-align" id="idContent">
      <div>
        <h1 class="homeLogo">the <strong>Backpack</strong></h1>
      </div>
      <div>
        <p>Simply stands on its own</p>
      </div>
      <div>
        <button class="btn btn-primary shopButton">Shop</button>
      </div>
      <div>
        <a href="#" class="learn-more">
          <i class="fas fa-angle-down"></i>
          <i class="fas fa-angle-down second-arrow"></i><br />
          <i class="fas fa-angle-down third-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!--Home End Div-->

<!--Home Prod Details Start-->
<section class="prodDetailSec">

  <div class="container">

    <div class="row">

      <div class="col-lg-4 text-center feather">

        <header><img src="https://www.clipartmax.com/png/middle/50-503764_feather-by-pumpkinquartz-orange-feather-png.png"
            alt="feather" height="200px" width="200px"></header>
        <h4>Light Weight Bags</h4>
        <p>EUME bags are custom engineered to be light yet sturdy, making them ideal for long distance travel.</p>

      </div>

      <div class="col-lg-4 text-center feather">

        <header><img src="https://www.clipartmax.com/png/middle/50-503764_feather-by-pumpkinquartz-orange-feather-png.png"
            alt="feather" height="200px" width="200px"></header>
        <h4>This is harish guyss</h4>
        <p>EUME bags are custom engineered to be light yet sturdy, making them ideal for long distance travel.</p>

      </div>

      <div class="col-lg-4 text-center feather">

        <header><img src="https://www.clipartmax.com/png/middle/50-503764_feather-by-pumpkinquartz-orange-feather-png.png"
            alt="feather" height="200px" width="200px"></header>
        <h4>This is harish guyss</h4>
        <p>EUME bags are custom engineered to be light yet sturdy, making them ideal for long distance travel.</p>

      </div>

      <div class="col-lg-4 text-center feather">

        <header><img src="https://www.clipartmax.com/png/middle/50-503764_feather-by-pumpkinquartz-orange-feather-png.png"
            alt="feather" height="200px" width="200px"></header>
        <h4>This is harish guyss</h4>
        <p>EUME bags are custom engineered to be light yet sturdy, making them ideal for long distance travel.</p>

      </div>

      <div class="col-lg-4 text-center feather">

        <header><img src="https://www.clipartmax.com/png/middle/50-503764_feather-by-pumpkinquartz-orange-feather-png.png"
            alt="feather" height="200px" width="200px"></header>
        <h4>This is harish guyss</h4>
        <p>EUME bags are custom engineered to be light yet sturdy, making them ideal for long distance travel.</p>

      </div>

      <div class="col-lg-4 text-center feather">

        <header><img src="https://www.clipartmax.com/png/middle/50-503764_feather-by-pumpkinquartz-orange-feather-png.png"
            alt="feather" height="200px" width="200px"></header>
        <h4>This is harish guyss</h4>
        <p>EUME bags are custom engineered to be light yet sturdy, making them ideal for long distance travel.</p>

      </div>

    </div>


  </div>

</section>
<!--Home Prod Details End-->


<!---->
<section class="imageSection">
  <div class="container">
    <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
      <div class="item" *ngFor="let data of mySlideImages;let i = index">

        <div class="props">
          <header>
            <img class="imageProp" src={{data.image}}>
            <div class="imgTitle">
              <h3>Durable</h3>
            </div>
          </header>
          <p>{{data.description}}</p>
        </div>

        <!-- <div >
          <img class="imageProp" src={{data.image}} />
          <h1>{{data.description}}</h1>
        </div> -->
      </div>
    </owl-carousel>
  </div>

</section>

<!---->


<!--Contact us start-->
<section class="contactSection">
  <div class="fluid-container col-lg-6 col-md-6 col-xs-12">

    <p>It's time to turn your back on
      backaches. Let's take the next step.</p>
    <div class="divContactButton">
      <button class="contactButton">Contact Us</button>
    </div>

  </div>
</section>
<!--Contact us end-->

<!--Founder 1 Start-->
<section>
  <div class="container1">
    <div class="container-fluid row founder1">
      <div class="founder-name col-lg-4 col-sm-3">
        <h3>Vicky Kaushal</h3>
        <p>Founder/CEO</p>
      </div>
      <div class="col-lg-4 col-sm-3"></div>
      <div class="col-lg-4 col-sm-3"></div>
      <div class="col-lg-4 col-sm-3"></div>
      <div class="col-lg-4 col-sm-3"></div>
      <div class="col-lg-4 col-sm-3"></div>
    </div>

    <div class="overlay">

      <h3>Vicky Kaushal</h3>
      <p>
        Set Peh Gaya Khalara as your caller tune - SMS FKRT2 To 57575
        Airtel Subscribers Dial 5432116419303
        Vodafone Subscribers Dial 5379941312
        Idea Subscribers Dial 567899941312
        Reliance Subscribers SMS CT 9941312 to 51234
        BSNL (South / East) Subscribers SMS BT 9941312 to 56700
        BSNL (North / West) Subscribers SMS BT 6909680 to 56700
        Aircel Subscribers SMS DT 6909680 to 53000
      </p>

    </div>
  </div>

</section>
<!--Founder 1 End-->


<!-- <div class="container1">
    <img src="http://media1.santabanta.com/full1/Indian%20%20Celebrities(M)/Vicky%20Kaushal/vicky-kaushal-0a.jpg" alt="Avatar" class="image">
    <div class="overlay">
      <div class="text">Hello World</div>
    </div>
  </div> -->